* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #373737ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
  width: 100vw;
}

.position {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#board {
  display: grid;
  width: 90vw;
  height: 90vh;
  align-items: center;
}

#board > div {
  display: grid;
  height: 100%;
}

#board > div > div {
  text-align: center;
}

.blue {
  color: blue;
}
.red {
  color: red;
}

button {
  border: none;
  cursor: pointer;
}

#pallete {
  position: absolute;
  width: 200px;
  height: 70vh;
  top: 2.5vh;
  transform: translateX(-100%);

  transition: 0.5s transform ease-in-out;
}

#pallete.show {
  transform: translateX(0);
}

.showbutton_pallete {
  position: absolute;
  height: 50px;
  top: 5vh;
  right: 0;
  transform: translateX(100%);
  background-color: #262626;
  transition: 0.5s transform ease-in-out;
  cursor: pointer;
  color: white;
  font-size: 2.5em;
  width: 50px;
}

.showbutton_pallete:hover {
  color: #b7d0f1ff;
}

.showbutton_pallete:active {
  color: #faa549ff;
}

.pallete_container {
  width: 100%;
  height: 100%;
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  z-index: 10;
  position: relative;
  background-color: #141414ff;
}

.frac_button,
.barrier_button,
.slow_button,
.speed_button,
.eraser_button,
.brush_button,
.brush_display,
.eraser_button,
.world_generator_button,
.chance_button,
.grid_button {
  background-color: rgba(255, 255, 255, 0) !important;
  color: white;
  font-size: 2.5em;
  width: 50px;
  justify-self: center;
  align-self: center;
}

.barrier_button:hover,
.eraser_button:hover,
.brush_button:hover,
.eraser_button:hover,
.world_generator_button:hover,
.chance_button:hover {
  color: #b7d0f1ff;
}

.barrier_button:active,
.slow_button:active,
.speed_button:active,
.eraser_button:active,
.brush_button:active,
.eraser_button:active,
.world_generator_button:active,
.chance_button:active {
  color: #faa549ff;
}

.grid_button {
  color: #f2564fff;
}

.grid_button.activated {
  color: #27ae60;
}

.world_generator {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slow_button:hover {
  color: #3498db;
}
.speed_button:hover {
  color: #e67e22;
}

.slow_button:active {
  color: #faa549ff;
}
.speed_button:active {
  color: #faa549ff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.world_gen_input,
#chance_input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: white 1px solid;
  color: white;
  width: 70%;
  margin: 5px;
  margin-left: 20px;
  outline: none;
  font-size: 20px;
}

.generate_div,
.chance_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0) !important;
  color: white;
  font-size: 2.5em;
  width: 100px;
  height: 100%;
  align-self: center;
}

.brush_display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-highlighter {
  color: #b7d0f1ff;
}

.fa-paint-roller {
  color: #faa549ff;
}

.fa-brush {
  color: #f2564fff;
}

#colorPicker {
  position: absolute;
  width: 40px;
  height: 40vh;
  top: 25vh;
  right: 0;
  transition: 0.5s transform ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(15, 25px);
  gap: 5px;
  align-items: center;
}

#colorPicker > button {
  height: 20px;
  width: 20px;
}

#colorPicker.show {
  transform: translateX(100%);
}

#timer {
  position: relative;
  z-index: 10;
  position: absolute;

  width: 20vw;
  height: 70px;
  right: 20px;
  transform: translateY(-100%);
  transition: 0.5s transform ease-in-out;
}

.time_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #141414ff;
}

#timer.show {
  transform: translateX(0);
}

.showbutton_timer {
  z-index: 1;
  width: 50px;
  background-color: #262626;
  color: white;
  font-size: 2.5em;
  position: absolute;
  height: 50px;
  bottom: 0;
  left: 30px;
  font-size: 2.5em;
  transform: translateY(100%);
}

#on {
  display: none;
  background-color: inherit;
}

#on.show {
  display: block;
}

#off {
  display: none;
  background-color: inherit;
}

#off:hover,
#on:hover,
#reset:hover {
  color: #b7d0f1ff;
}

#off:active,
#on:active,
#reset:active {
  color: #faa549ff;
}

#off.show {
  display: block;
}

#reset {
  background-color: inherit;
  float: left;
}

#speed_display {
  color: white;
  background-color: #ff000000;
  border: none;
  outline: none;
  font-size: 1em;
  width: 30px;
  text-align: center;
}

footer {
  font-size: small;
}

#SlowPick {
  position: absolute;
  width: 100px;
  height: 30px;
  top: 13vh;
  right: 0;
  transition: 0.5s transform ease-in-out;
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
}

#FastPick {
  position: absolute;
  width: 100px;
  height: 30px;
  top: 17vh;
  right: 0;
  transition: 0.5s transform ease-in-out;
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
}

#SlowPick > input,
#FastPick > input {
  height: auto;
  width: 90px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: white 1px solid;
  color: white;
  width: 90%;
  margin: 5px;
  outline: none;
  font-size: 20px;
}

#SlowPick.show,
#FastPick.show {
  transform: translateX(100%);
}

.reset_button,
.on_button,
.off_button {
  background-color: rgba(255, 255, 255, 0) !important;
  color: white;
  font-size: 2.5em;
  width: 50px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #f2564fff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #f2564fff;
  cursor: pointer;
}

#revert {
  position: absolute;
  right: 0;
  width: 100px;
  height: 50vh;
  top: 20vh;
  background-color: #141414ff;
}
