* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
  width: 100vw;
}

.position {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#board {
  display: grid;
  width: 90vw;
  height: 90vh;
  align-items: center;
  border: black 5px solid;
}

#board > div {
  display: grid;
  height: 100%;
}

#board > div > div {
  text-align: center;
}

.blue {
  color: blue;
}
.red {
  color: red;
}

button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

#pallete {
  position: absolute;
  width: 15vw;
  height: 70vh;
  top: 2.5vh;
  transform: translateX(-100%);

  transition: 0.5s transform ease-in-out;
}

#pallete.show {
  transform: translateX(0);
}

.showbutton_pallete {
  position: absolute;
  width: 20px;
  height: 7vh;
  top: 5vh;
  right: 0;
  transform: translateX(100%);
  background-color: #4cc9f0;
  transition: 0.5s transform ease-in-out;
  cursor: pointer;
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
}

.pallete_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 10vh);
  z-index: 10;
  position: relative;
  border-end-end-radius: 15px;
  border-start-end-radius: 15px;
  background-color: #4361ee;
}

.pallete_button {
  background-color: rgba(255, 255, 255, 0);
  margin: 15px 20px 15px 20px;
}

#colorPicker {
  position: absolute;
  width: 40px;
  height: 40vh;
  top: 20vh;
  right: 0;
  transition: 0.5s transform ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(15, 25px);
  gap: 5px;
  align-items: center;
}

#colorPicker > button {
  height: 20px;
  width: 20px;
}

#colorPicker.show {
  transform: translateX(100%);
}

#timer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 15vw;
  height: 12vh;
  right: 20px;
  transform: translateY(-100%);
  background-color: #560bad;
  transition: 0.5s transform ease-in-out;
  border-end-start-radius: 15px;
  border-end-end-radius: 15px;
}

#timer.show {
  transform: translateX(0);
}

.showbutton_timer {
  position: absolute;
  width: 5vw;
  height: 20px;
  bottom: 0;
  left: 30px;
  transform: translateY(100%);
  background-color: #f72585;
  transition: 0.5s transform ease-in-out;
  cursor: pointer;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}

#on {
  display: none;
}

#on.show {
  display: block;
}

#off {
  display: none;
}

#off.show {
  display: block;
}
